.cards{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #282A3A;
}

.container-onepokemon-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    
    background-color: #2B3A55;
    padding: 20px;
    border-radius: 4px;
    margin-top: 15vh;

    border-top: 2px solid orange;
    border-left: 2px solid orange;
    box-shadow: rgba(0, 0, 0, 0.15) 14px 13px 10px;
}

.bloco-onepokemon-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.onepokemon-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.onepokemon-image img{
    width: 65%;
    height: 65%;
    z-index: 99;
}

.onepokemon-desc{
    margin-top: 20px;
    font-size: 20px;
    align-self: center;
    padding-bottom: 80px;
}

.onepokemon-charc{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 4px;
}

.onepokemon-state{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.onepokemon-name{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;  
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name{
    margin-right: 20px;
}
.weight, .height, .exp {
    color: orange;
    margin-left: 10px;
}
.ability-container{
    margin-top: 10px;
    display: flex; 
    flex-direction: column;
}

.ability{
    text-transform: capitalize;
    color: orange;
}

.onepokemon-status-container{
    width: 50%;
    height: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    padding: 20px;
    margin-top: 7vh;
    margin-bottom: 7vh;
    padding-right: 35px;
   
}
.status-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;

    background-color: #4D4C7D;
    
    padding: 10px;
    width: 100%;
    border-radius: 4px;

    box-shadow: rgba(0, 0, 0, 0.15) 13px 14px 10px;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
}

.status{

    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 30px;
}

.label-fraqueza{
    margin-right: 15px;
}
.label-resistencia{
    margin-right: 15px;
}

.typeofpokemon{
    background-color: lightblue;
    border-radius: 4px;
    padding: 5px;
    color: black;
}

.first{
    margin-left: 15px;
    margin-right: 15px;
}


.layout-types{
    text-transform: capitalize;
    color: black;
    border-radius: 4px;
    background-color: #143F6B;
    padding: 12px;

    margin-right: 15px;
    color:white;
   
}

.resis{
    width: 100%;
}
.immune{
  
}
.weak{
    width: 100%;
}

.evolution-container, .stats-container{
    width: 50%;
    margin-top: 15px;
    padding-right: 35px;
}



.button-pokemonEvolution{
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
    border: none;
}

/* .button-pokemonEvolution:hover{
    background-color: red;
} */

.evolutions-pokemons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png");
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 6.6px;
}

.pokeStats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;

    width: 100%;
    padding: 20px;
    background-color: #181D31;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 6.6px;

    border-radius: 4px;
}

.stats-name{
    font-size: 14px;
    width: 20px;
}

.footer{
    width: 100%;
    height: 15vh;
    background-color: #100F0F;
    margin-top: 10vh;
}


.normal{
    background-color: #B5D5C5;
    color: black;
}
.fire{
    background-color: rgba(250,10,10,0.9);
}
.water{
    background-color: #143F6B;
}
.ice{
    background-color: #323EDD;
}
.poison{
    background-color: #3F0071;
}
.flying{
    background-color:  rgba(0,150,150);
}
.bug{
    background-color: #379237;
}
.electric{
    background-color: #F7FF56;
    color: black;
}
.steel{
    background-color: #444444;
}
.ground{
    background-color: #F98404;
}
.fighting{
    background-color: #FF5151;
}
.grass{
    background-color: #8CBA51;
}
.rock{
    background-color: #443737;
}
.fairy{
    background-color: #F77FEE;
}
.psychic{
    background-color: #350231;
    color: white;
}
.dark{
    background-color: #100F0F;
}

.ghost{
    background-color: #282A3A;
}
.dragon{
    background-color: #A62349;
}

.doubleWeak{
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 50%)
}

@-webkit-keyframes list-group {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes list-group {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes list-group {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes list-group {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes list-group{

}


.arrow{
    position: absolute;
    margin-left: 25px;
    background-color: red;
}