.cards{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    background: #0F0E0E;
    background:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../../assets/images/onePokemonBg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.main-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 10px;
    border-radius: 4px;
}
.name-container{
    margin-top: 5vh; 
    width: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin-top: 4vh;
}
.name-content{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 44px;
    font-weight: bold;
}

.container-onepokemon-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.15)  0 8px 2px -2px; */
}
.bloco-onepokemon-image{
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.onepokemon-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
}
.onepokemon-image img{
    width: 100%;
    height: 100%;
    z-index: 99;
}
.onepokemon-state{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    margin-right: 10px;
    max-width: 60%;
    max-height: 100%;
    font-size: 14px;
    margin-left: 10px;
    padding: 10px;
    
    /* box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45); */
    
}
.typePokemons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.onepokemon-desc{
    margin-top: 10px;
    font-size: 28px;
    align-self: center;
    padding-bottom: 10px;
    width: 100%;

}

.pokeDados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 15px;
    font-size: 18px;
}
.onepokemon-charc{
    max-width: 100%;
    display: flex;

    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 10px;
    border-radius: 4px;
}

/* .onepokemon-name::after{
    content: "";
    width: 0;
    height: 0;

    border-bottom: 20px solid black;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;

    position: absolute;
    bottom: 0;
} */

.name{
    text-transform: capitalize;
   margin-right: 25px;
   
}
.weight, .height, .exp {
    color: orange ;
    margin-left: 10px;
    font-size: 16px;
}
.ability-container{
   
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25px;
}

.ability{
    text-transform: capitalize;
    color: orange;
}

.onepokemon-status-container{
    display: flex;
    max-width: 100%;
    
    align-items: flex-start;

    box-shadow: 0px -10px 5px rgba(0,0,0,0.3);

    margin-top: 2vh;
    
    color: white;
 
}
.all-pokemon-types{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 85px;
}

.title-status{
    margin-left: 20px;
}

.title-types{
    margin-bottom: 39px;
}

.title-evolution{
    margin-left: 20px;
    align-self: flex-start;
}

.status-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    justify-content: space-around;  
    padding: 10px;
    max-width: 100%;
    border-radius: 4px;
    color: white;
    /* border-top: 2px solid orange;
    border-left: 2px solid orange; */
}

.none{
    color: red;
}
.status{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.label-type{
    margin-right: 10px;
}

.label-fraqueza, .label-resistencia{
    align-self: flex-start;
    margin-bottom: 15px;
}

.label-fraqueza{
    margin-right: 15px;
}
.fraquezas-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.container-resistencia{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}
.container-ineficaz{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.container-immune{
    width: 100%;
    display: flex;
    justify-content: flex-start ;
    gap: 10px;
}
.label-resistencia{
    margin-right: 15px;
}

.typeofpokemon{
    background-color: lightblue;
    border-radius: 4px;
    padding: 5px;
    color: black;
}

.first{
    margin-left: 15px;
    margin-right: 15px;
}
.resis{
    width: 100%;
}

.stats-container{
    width: 50%;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.evolution-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
    padding: 10px;
    
    margin-top: 2vh;
    box-shadow: 0px -10px 5px rgba(0,0,0,0.3);
}

.evolution-bloco{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.button-pokemonEvolution{
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
    border: none;
}

/* .button-pokemonEvolution:hover{
    background-color: red;
} */

.evolutions-pokemons{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png");
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 8px 8px 6.6px;
}
.stats-bloco{
    padding: 20px;
}

.ability-bloco{
    padding: 20px;
}

.pokeStats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
    width: 350px;
 
    padding: 20px;
    background-color: #181D31;
    border-radius: 4px;
    color:  white;
}

.stats-single{
    max-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats-name{
    margin-top: 2px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;width: 50%;
    height: 20px;
    width: 100%;
}

@media (max-width: 1120px)
{
  .container-onepokemon-desc
   {
    flex-direction: column;
   }
   .onepokemon-status-container{
        flex-direction: column;
        justify-content: flex-start;
       
   }

   .onepokemon-charc{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
   }

   .onepokemon-image img{
        width: 30%;
        height: 30%;
    }

    .onepokemon-desc{
        padding: 0;
    }

    .status{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .bloco-onepokemon-image{
        width: 100%;
    }

    .onepokemon-desc{
        font-size: 18px;
    }

 

}

@media (max-width: 1000px){
    .evolutions-pokemons{
        flex-direction: column;
        gap: 10px;
    }
}

