

.card{
    width: 250;
    height: 200;
    background-color: rgba(0,50,170,0.4);
    border: 1px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
   
    font-size: 14px;
}